name: Deploy static site to Deno Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy to Deno
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Deploy to Deno
        uses: denoland/deployctl@v1
        with:
          project: naseeb-configuration
          entrypoint: index.html
